<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
  <header>
      <ul id="navbar">
            <li id="icon">
                <i class="fas fa-bars"></i>
            </li>
            <li id="section1" class="nav-items">
                <a href="#">Section 1</a>
            </li>
            <li id="section2" class="nav-items">
                <a href="#">Section 2</a>
            </li>
            <li id="section3" class="nav-items">
                <a href="#">Section 3</a>
            </li>
            <li id="section4" class="nav-items">
                <a href="#">Section 4</a>
            </li>
            <li id="section5" class="nav-items">
                <a href="#">Section 5</a>
            </li>
            
      </ul>
  </header>
  <main>
    <%-include('_block')-%>
    <%-include('_block')-%>
    <%-include('_block')-%>
    <%-include('_block')-%>
    <%-include('_block')-%>
    <%-include('_block')-%>
    <%-include('_block')-%>
    <%-include('_block')-%>
  </main>
  <footer>
        <p>footer</p>
  </footer>
  <script src="/js/script.js"></script>
</body>
</html>